@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   font-family: "Poppins" , sans-serif;
   /* background-color: #333; */
    overflow-x: hidden;
}
::selection{
    background-color: #0b372dbb;
}
.logo{
    width: 100px;
}
header{
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(255, 255, 255 , 0.1);
}
header nav{
    background-color: rgb(255, 225, 225 ,0.1);
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}
header ul a{
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
}
.login{
    display: inline-block;
    width: 30%;
    height: 30px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding-top: 4px;
    transition: 0.3s;
    margin-top: 1.3rem;
    margin-left: 3px;
}
.login:hover {
    background-color: #126c23;
  }
.search a{
    font-size: 1.05rem;
    padding: 0 3rem;

}
.hamburger{
    padding-left: 0.5rem;
}
.hamburger a{
    padding: 0;
    width: 37px;
    height: 35px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar{
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}
.hamburger .bar::before,
.hamburger .bar::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}
.hamburger .bar::before{
    top : -4.5px;
}
.hamburger .bar::after{
    top : 4.5px;
}

main{
    /* background-color: #353; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.parallax{
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2 , .49 , .32 , .99);
}
.bg-img{
    position: absolute;
    width: 194.44%;
    top: calc(16.66%);
    left: calc(50.69%);
    transform: translate(-50% , -50%);
    z-index: 1;
}
.fog-7{
    position: absolute;
    z-index: 2;
    width: 131.94%;
    top: calc(43.82%);
    left: calc(70.83%);
    transform: translate(-50% , -50%);
}
.mountain-10{
    position: absolute;
    z-index: 3;
    width: 61.94%;
    top: calc(72.22%);
    left: calc(65.97%);
    transform: translate(-50% , -50%);
}
.fog-6{
    position: absolute;
    z-index: 4;
    width: 111.80%;
    top: calc(85.80%);
    left: calc(50.69%);
    transform: translate(-50% , -50%);
}
.mountain-9{
    position: absolute;
    z-index: 5;
    width: 32.63%;
    top: calc(79.62%);
    left: calc(22.22%);
    transform: translate(-50% , -50%);
} 
.mountain-8{
    position: absolute;
    z-index: 6;
    width: 56.25%;
    top: calc(77.16%);
    left: calc(35.97%);
    transform: translate(-50% , -50%);
} 
.fog-5{
    position: absolute;
    z-index: 7;
    width: 31.25%;
    top: calc(91.97%);
    left: calc(48.61%);
    transform: translate(-50% , -50%);
} 
.mountain-7{
    position: absolute;
    z-index: 8;
    width: 37.36%;
    top: calc(80.86%);
    left: calc(68.05%);
    transform: translate(-50% , -50%);
} 
.text{
    position: absolute;
    z-index: 9;
    top: 47%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    text-transform: uppercase;
    pointer-events: auto;
    color: #fff;

}
.text h2{
    font-weight: 100;
    font-size: 6.5rem;
    line-height: 0.88;
}  
.text h1{
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}  

.mountain-6{
    position: absolute;
    z-index: 10;
    width: 28.33%;
    top: calc(72.22%);
    left: calc(86.80%);
    transform: translate(-50% , -50%);
}
.fog-4{
    position: absolute;
    z-index: 11;
    width: 40.97%;
    top: calc(83.33%);
    left: calc(45.83%);
    transform: translate(-50% , -50%);
}
.mountain-5{
    position: absolute;
    z-index: 12;
    width: 43.40%;
    top: calc(98.14%);
    left: calc(59.02%);
    transform: translate(-50% , -50%);
}
.fog-5{
    position: absolute;
    /* z-index: 13;  */
    width: 34.72%;
    top: calc(87.03%);
    left: calc(53.47%);
    transform: translate(-50% , -50%);
}
.mountain-4{
    position: absolute;
    z-index: 14;
    width: 54.16%;
    top: calc(92.59%);
    left: calc(25%);
    transform: translate(-50% , -50%);
} 
.mountain-1{
    position: absolute;
    z-index: 15;
    width: 29.51%;
    top: calc(72.22%);
    left: calc(12.66%);
}
.mountain-2{
    position: absolute;
    z-index: 15;
    width: 49.30%;
    top: calc(84.32%);
    left: calc(76.45%);
} 
.sun-rays{
    position: absolute;
    z-index: 19;
    top: 0;
    right: 3;
    width: 48.61%;
    pointer-events: none;
}
.fog-2{
    position: absolute;
    z-index: 20;
    width: 108.33%;
    top: calc(87.03%);
    left: calc(47.91%);
    transform: translate(-50% , -50%);
}
/* .fog-1{
    position: absolute;
    z-index: 21;
    width: 1450px;
    top: calc(50% - 400px);
    left: 110%;
    transform: translate(-50% , -50%);
} */
.vignette{
    position: absolute;
    z-index: 100;
    width: 150%;
    height: 175%;
    top: 0;
    left: 0;
    background : radial-gradient(ellipse at center , rgba(0,0,0,0) 65% , rgba(0,0,0,0.7));
    pointer-events: none;
}
/* do it later */
@media (max-width : 725px){
    .text h1{
        font-size : 5rem;
        line-height: 1.1;
    }
    .text h2 {
        font-size : 4.7rem;
        line-height: 1.1;
    }
    header nav{
        padding: 0 1rem;
    }
    .logo{
        width : 75px;
    }
    hearder ul a{
        font-size: 0.73rem;
        padding: 0 0.9rem;
    }
    .search a{
        font-size: 0.85rem;
        padding: 0 1.8rem;
    }
    .hamburger{
        padding-left: 0.9rem;
    }
    .hamburger a{
        height: 30px;
        width: 30px ;
    }
    .bg-img{
        width: initial;
        height: 311.104%;
    }
    .fog-7{
    
        width: initial;
        height: 131.94%;
    }
    .mountain-10{
    
        width: initial;
        height: 99.104%;
    }
    .fog-6{
    
        width: initial;
        height: 178.88%;
    }
    .mountain-9{
        width: initial;
        height: 52.208%;
    } 
    .mountain-8{
    
        width: initial;
        height: 90%;
    } 
    .fog-5{
    
        width: initial;
        height: 50%;
    } 
    .mountain-7{
    
        width: initial;
        height: 59.776%;
    } 
    
    .mountain-6{
    
        width: initial;
        height: 45.328%;
    }
    .fog-4{
    
        width: initial;
        height: 65.552%;
    
    }
    .mountain-5{
        width: initial;
        height: 69.44%;
    }
    .fog-5{
    
        width: initial;
        height: 55.55%;
    }
    .mountain-4{
        width: initial;
        height: 86.65%;
    } 
    .mountain-1{
    
        width: initial;
        height: 47.21%;
    }
    .mountain-2{
    
        width: initial;
        height: 78.88%;
    } 
    .sun-rays{
    
        width: initial;
        height: 77.77% ;
    }
    .fog-2{
    
        width: initial;
        height:173.32% ;
    }
}

@media (max-width : 520px) {
    .text h1{
        font-size: 3.3rem;
    }
    .text h2{
        font-size: 2.6rem;
    }
}